@font-face{
    font-family: 'Montserrat';
    src: url(./font/Montserrat-Regular.otf);
}

@font-face{
    font-family: 'Poppins';
    src: url(./font/Poppins-Regular.otf);
}

@font-face{
    font-family: 'Manrope';
    src: url(./font/manrope-regular.otf);
}